
@import "styles/mixin_building";

.game-body {
  background-color: #B3E5FC;
}

.container {
  // background-color: blue;
  // opacity: 50%;
  width: 75%;
  height: auto;
  margin: 0 auto;
   //perspective: 600px;
   perspective: 300px;
}

//$cube-dimensions: 600px;
$cube-dimensions: 380px;
$cube-translateZ: $cube-dimensions / 2;

$rotate: 45deg;

$building-dimensions: $cube-dimensions / 10;
$building-translateZ: $building-dimensions / 2;

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////


#cube {
  position: relative;
  width: $cube-dimensions;
  height: $cube-dimensions;
  //transform: rotateX(-10deg) translateZ(-#{$cube-translateZ});
  margin: 0 auto;
  transform-style: preserve-3d;
  transition: all 3s;
  border-radius: 10%;
}

.cube-center {
  transform: rotateX(-10deg) translateZ(-#{$cube-translateZ});
}

#building,
#building-4,
#building-5,
#building-6 {
  position: absolute;
  width: $building-dimensions;
  height: $building-dimensions;
  transform: translateZ(#{$building-translateZ});
  //transform: translateZ(-#{$building-translateZ});
  transform-style: preserve-3d;
  transition: all 3s;
}

.building-1 {
  @include create-building(small, green, $building-dimensions, $building-translateZ);
  left: 40px;
}

.building-2 {
  @include create-building(large, yellow, $building-dimensions, $building-translateZ);
  left: 150px;
}

.building-3 {
  @include create-building(large, brown, $building-dimensions, $building-translateZ);
  left: 270px;
}

#building-4 {
  transform: translateZ(100px);
}

.building-4 {
  @include create-building(medium, pink, $building-dimensions, $building-translateZ);
  right: 150px;
}

#building-5 {
  transform: translateZ(100px);
}

.building-5 {
  @include create-building(small, gray, $building-dimensions, $building-translateZ);
  left: 270px;
}

#building-6 {
  transform: translateZ(100px);
}

.building-6 {
  @include create-building(medium, orange, $building-dimensions, $building-translateZ);
  left: 110px;
}

.cube_-_face {
  width: $cube-dimensions;
  height: $cube-dimensions;
  line-height: $cube-dimensions;
  font-size: 40px;

  position: absolute;
  //border: 2px solid black;
  text-align: center;
  color: transparent;
  font-weight: bold;
  border-radius: 10%;
}


$cube-opacity: 0;
$building-opacity: 0.8;

// CUBE LAYER COLOR

.cube_-_front {
  background-color: rgba(blue, $cube-opacity);
}
.cube_-_back {
  background-color: rgba(green, $cube-opacity);
}
.cube_-_left {
  background-color: rgba(yellow, $cube-opacity);
}
.cube_-_right {
  background-color: rgba(red, $cube-opacity);
}
.cube_-_top {
  background-color: rgba(orange, $cube-opacity);
}
.cube_-_bottom {
  background-color: rgba(purple, $cube-opacity);
}


// CUBE LAYER DIMENSION POSITION

.cube_-_front {
  transform: rotateY(0deg) translateZ($cube-translateZ);
}
.cube_-_back {
  transform: rotateY(180deg) translateZ($cube-translateZ);
}
.cube_-_left {
  transform: rotateY(90deg) translateZ($cube-translateZ);
}

.cube_-_right {
  transform: rotateY(270deg) translateZ($cube-translateZ);
}

.cube_-_top {
  transform: rotateX(90deg) translateZ($cube-translateZ);
}

.cube_-_bottom {
  transform: rotateX(270deg) translateZ($cube-translateZ);
}

// ISLAND

$island-color: #4E342E;

.island {
  position: absolute;
  background-color: rgba($island-color, 1);
  width: $cube-dimensions;
  height: $cube-dimensions;
  border-radius: 50%;
  bottom: 0;
  transform: rotateX(-90deg) translateZ($cube-translateZ);
}


.island-2 {
  position: absolute;
  background-color: rgba($island-color, 1);
  width: $cube-dimensions - 20px;
  height: $cube-dimensions - 20px;
  border-radius: 50%;
  bottom: 0;
  left: 10px;
  transform: rotateX(-90deg) translateZ(170px);
}


// Cube motions
.cube-move-left {
  //transform: rotateY(90deg) translateZ(50px);
}

.cube-move-right {
  //transform: rotateY(-90deg) translateZ(#{$cube-translateZ});
}


.torpedo {

  //transform: rotateX(90deg);
  position: absolute;
  bottom: 1px;
  //right: 0;
  //left: 50%;
  text-align: center;
  //margin: 0 auto;
  //margin-top:


  img {
    width: 15%;
    height: auto;
  }

  h3 {
    color: black;
    padding: 0;
    margin: 0;
  }
}


@import "styles/building";

//Temp
