doctype html
html(ng-app='blankApp')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        meta(name='description' content='')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        title Blank

        <!--bower:css-->
        <!--endbower-->

        //- inject:css
        //- endinject

        script(src="/scripts/analytics.js")

    body
        div(class="{{ pageClass }}" ng-view ng-cloak)

        <!--bower:js-->
        <!--endbower-->

        script(src="scripts/app.js")

        //- inject:js
        //- endinject



